body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30,#243b55);
  }
  header{
    background-color: #111010e5;
    padding: 1;
    
    display: flex;
    flex-direction: row;
    align-items: left    ;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0f0d0d00 ;
    border-radius: 10px;
    
    }
  body header h1 {
    font-family: 'Times New Roman';
    font-size: 40px;
    font-style: italic;
    color: whitesmoke;
    margin-left: 20px;
    text-align: left;
  }

   header  #searchForm {
    color: #141e30;
    margin-right: 50px;
    border: 5px solid #0f0d0d00 ;
    border-radius: 30%;

  }
body h2 {

    color: whitesmoke;
    margin-left: 20px;
    text-align: left;

}
 #Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  margin-top: 1rem;
}
  
  #movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las películas horizontalmente */
  }
  
  .movie {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #cccccc00;
    text-align: center;
    display: flex;
    flex-direction: column; /* Cambiar a disposición vertical */
  }
  
  .movie h2 {
    margin-top: 0; /* Eliminar el margen superior del título */
    color:aliceblue;
    flex: 1;
  }
  
  .movie img {
    width: 100%;
    height: 80%;
    object-fit: cover; /* Ajustar las imágenes al tamaño del contenedor */
  }

  .movie img:hover{
    transform: scale(1.2);

    }
  
  .movie h3 {
    color: antiquewhite;
    margin-bottom: 0; /* Eliminar el margen inferior */
  }

  #previousButton{
    background-color: #e9e9e9;
    color: #111010;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  #nextButton{
    background-color: #e9e9e9;
    color: #111010;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;

  }

  .Hover button:hover {
    background-color: #d1d1d1;
  }